@media print {
    html,body, #root {
        height:100%;
        width:100%;
    }
    #header, #nav
    {
        display: none;
    }
    * {
        -webkit-print-color-adjust: exact !important;
    }
}
@page {
    size: A4;
    margin: 15px;
}
@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
